@import '../../styles/variables.scss';

.footer-section {
    width: 100%;
    background-color: $dark-color;
    padding: 1.2rem;
    border-bottom: 1px solid $dark-color;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-weight: bold;
        color: $light-color;
        font-size: 12px;
    }
}